
<ion-view title="我的订单" hide-nav-bar="isWechat">
    <ion-content scroll="false">
        <div class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
            <div class="tabs Order_nav">
                <a class="tab-item" ng-class="{'active':step==0}" ng-click="slideChange(0)">全部</a>
                <a class="tab-item" ng-class="{'active':step==1}" ng-click="slideChange(1)">待确认</a>
                <a class="tab-item" ng-class="{'active':step==2}" ng-click="slideChange(2)">审核中</a>
                <a class="tab-item" ng-class="{'active':step==3}" ng-click="slideChange(3)">还款中</a>
                <a class="tab-item" ng-class="{'active':step==4}" ng-click="slideChange(4)">已结束</a>
            </div>
        </div>
        <ion-slide-box ng-if="showItems" active-slide="step" style="height:100%;overflow: hidden" on-slide-changed="slideChange(index)" show-pager="false">
            <ion-slide ng-repeat="list in data" style="overflow: scroll;overflow-x:hidden;padding: 48px 0;">
                <!--没有数据-->
                <blank ng-if="list==''"></blank>

                <a class="Order_li m-top c-666" ng-repeat="item in list" ui-sref="tab.me_order_detail({inst_order_id:item.inst_order_id})">
                    <div class="item item-avatar item-icon-right" ng-cloak>
                        <img ng-src="frame/images/{{item.sod_industry_type.substr(7,1)==1?'icon_renting':'icon_financing'}}.jpg">
                        <h2 class="m-bottom-5">{{item.merchant_name}}的订单
                            <span ng-if="item.is_late=='100000000001'" class="tag tag-orange">已逾期</span>
                        </h2>
                        <p class="f-12">{{item.sod_apply_date}}</p>
                        <i ng-if="item.sod_main_state == '241900000001'&&item.left_time>0" class="icon f-14 positive">待确认</i>
                        <i ng-if="item.sod_main_state == '241900000002'" class="icon f-14 positive">审核中</i>
                        <i ng-if="item.sod_main_state == '241900000003'" class="icon f-14 positive">已放弃</i>
                        <i ng-if="item.sod_main_state == '241900000004'||item.left_time<0" class="icon f-14 positive">已失效</i>
                        <i ng-if="item.sod_main_state == '241900000005'" class="icon f-14 positive">未通过</i>

                        <i ng-if="item.sod_main_state == '241900000006'&&item.is_pdstatus_repay == '100000000001'" class="icon f-14 positive">
                            <!--还款中-->
                            <em ng-if="item.bcase_repay_id">还款中</em>
                            <!--已还清-->
                            <em ng-if="!item.bcase_repay_id && item.plan_count!=0">已还清</em>
                        </i>
                        <i ng-if="item.sod_main_state == '241900000006'&&item.is_pdstatus_repay == '100000000002'" class="icon f-14 positive">
                            <!--未开始还款 + 募集中-->
                            <em ng-if="item.bcase_repay_id || (!item.bcase_repay_id&&item.plan_count==0)">未开始还款</em>
                            <!--已还清-->
                            <em ng-if="!item.bcase_repay_id && item.plan_count!=0">已还清</em>
                        </i>
                    </div>
                    <div class="row a-center border-bottom">
                        <div class="col">
                            <p ng-if="!item.cod_apply_preiod">每期最低还款(元)</p>
                            <p ng-if="item.cod_apply_preiod">每期还款(元)</p>
                            <p class="c-orange f-16">{{item.sod_repayment_amt | number:2}}</p>
                        </div>
                        <div class="col">
                            <p>分期总额(元)</p>
                            <p class="f-16">{{item.sod_total_amt | number:2}}</p>
                        </div>
                        <div class="col">
                            <p>期数</p>
                            <p ng-if="item.cod_apply_preiod" class="f-16"><span ng-if="item.repay_preiod"><em class="c-orange">{{item.repay_preiod}}</em>/</span>{{item.cod_apply_preiod}}</p>
                            <p ng-if="!item.cod_apply_preiod" class="f-16">{{item.sod_min_installment}}-{{item.sod_max_installment}}</p>
                        </div>
                    </div>

                    <div ng-if="item.sod_main_state == '241900000001'&&item.left_time>0" class="item f-13 c-999">订单确认剩余时间:
                        <count-down time="item.left_time"></count-down>
                        <span class="button button-assertive button-outline">去确认</span>
                    </div>
                    <div ng-if="item.sod_main_state == '241900000002'" class="item f-13 c-999">您的订单正在审核中，请耐心等待
                        <span class="button button-assertive button-outline" ui-sref="tab.me_order_progress({inst_order_id:item.inst_order_id})" ng-click="$event.stopPropagation()">查看进度</span>
                    </div>
                    <div ng-if="item.sod_main_state == '241900000003'" class="item f-13 c-999">您已放弃分期订单</div>
                    <div ng-if="item.sod_main_state == '241900000004'||item.left_time<0" class="item f-13 c-999">订单在规定时间内未确认，已失效</div>
                    <div ng-if="item.sod_main_state == '241900000005'" class="item f-14 c-999">分期订单审核未通过</div>


                    <div ng-if="item.sod_main_state == '241900000006'&&item.is_pdstatus_repay == '100000000001'" class="item f-13 c-999">
                        <!--还款中-->
                        <div ng-if="item.bcase_repay_id">
                            <span ng-if="item.is_late=='100000000002'">距本期还款日还剩{{item.repay_date_count | splitBy:'floor'}}天</span>
                            <span ng-if="item.is_late=='100000000001'">您已逾期{{-item.repay_date_count | splitBy:'floor'}}天</span>
                            <span ui-sref="tab.me_repay({inst_order_id:item.inst_order_id,repay_period:item.repay_preiod})" ng-click="$event.stopPropagation()" class="button button-assertive button-outline">去还款</span>
                        </div>
                        <!--已还清-->
                        <div ng-if="!item.bcase_repay_id">您已还完分期订单</div>
                    </div>
                    <div ng-if="item.sod_main_state == '241900000006'&&item.is_pdstatus_repay == '100000000002'" class="item f-13 c-999">
                        <!--募集中-->
                        <div ng-if="item.plan_count==0 && !item.bcase_repay_id">起始还款日有待确定，具体以实际还款日为主</div>
                        <!--未开始还款-->
                        <div ng-if="item.plan_count!=0 &&  item.bcase_repay_id">您可以在{{item.sod_gathering_date}}后对本订单进行还款</div>
                        <!--已还清-->
                        <div ng-if="item.plan_count!=0 && !item.bcase_repay_id">您已还完分期订单</div>
                    </div>


                </a>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>