
<ion-view title="还款记录" hide-nav-bar="isWechat">
    <ion-content>
        <div class="list">
            <!--没有数据-->
            <blank ng-if="data==''"></blank>

            <div class="item" ng-repeat="item in data">
                <p class="a-right">
                    <span class="f-14 c-333 f-left">{{item.ORDER_PAY_MODE}}</span>
                    <span class="f-12">{{item.MERCHANT_NAME | splitBy:'parenthesis'}}的订单(第{{item.REPAY_PREIOD}}/{{item.TOTAL_PERIOD}}期)</span>
                </p>
                <p>
                    <span class="f-12">{{item.PAY_TIME}}</span>
                    <span class="f-right f-14 c-333">{{item.TOTAL_AMT}}</span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>