
<ion-view title="交易密码设置" hide-nav-bar="isWechat" nav-direction="back">
    <ion-content scroll="false">
        <!--设置交易密码-->
        <div ng-if="data.tradepassword_vf == null||data.tradepassword_vf==100000000002">
            <div class="list">
                <div class="c-999 f-12 padding">
                    交易密码为您的账户余额安全保驾护航
                </div>
                <div class="item item-input item-icon-right">
                    <span class="input-label">交易密码</span>
                    <input ng-model="tradePwd.tradePassword" type="password" placeholder="6-16位字符，包含字母，数字" name="tradePassword">
                    <inputclear text="tradePwd.tradePassword"></inputclear>
                    <eyeicon></eyeicon>
                </div>
                <div class="item item-input item-icon-right">
                    <span class="input-label">确定密码</span>
                    <input ng-model="tradePwd.confirm_tradePassword" type="password" placeholder="请再次输入密码" name="confirm_tradePassword">
                    <eyeicon></eyeicon>
                    <inputclear text="tradePwd.confirm_tradePassword"></inputclear>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="setPwd()">确定</button>
            </div>
        </div>
        <!--修改交易密码-->
        <div ng-if="data.tradepassword_vf==100000000001">
            <div class="list">
                <div class="c-999 f-12 padding">
                    交易密码为您的账户余额安全保驾护航
                </div>
                <div class="item item-input item-icon-right">
                    <span class="input-label">旧交易密码</span>
                    <input ng-model="tradePwd.old_tradePassword" type="password" placeholder="请输入旧交易密码" name="old_tradePassword">
                    <eyeicon></eyeicon>
                    <inputclear text="tradePwd.old_tradePassword"></inputclear>
                </div>
                <div class="item item-input item-icon-right">
                    <span class="input-label">新交易密码</span>
                    <input ng-model="tradePwd.tradePassword" type="password" placeholder="6-16位字符，包含字母，数字" name="tradePassword">
                    <eyeicon></eyeicon>
                    <inputclear text="tradePwd.tradePassword"></inputclear>
                </div>
                <div class="item item-input item-button-right">
                    <span class="input-label">验证码</span>
                    <input type="tel" placeholder="请输入验证码" ng-model="tradePwd.phoneCode" name="phoneCode">
                    <button class="button button-positive button-outline button_validate"
                            ng-class="{'button-disabled':!sms.isDisabled}"
                            ng-click="smsSend('100000000002',tradePwd.mobileNo)">{{sms.text}}</button>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive"
                        ng-click="modifyPwd()">确定</button>
            </div>
        </div>

    </ion-content>
</ion-view>