
<ion-view title="还款明细" hide-nav-bar="isWechat">
    <ion-content>
        <div class="Order_plan_header header_bg-img a-center">
            <p class="f-18 c-fff">{{data.order.MERCHANT_NAME}}</p>
            <p class="c-gray">本次订单共分{{data.order.TOTAL_PERIOD}}期，已还{{data.order.TOTAL_PERIOD-data.order.UNPAID_PERIOD}}期</p>
            <ul class="row c-gray f-14">
                <li class="col">
                    <p>待还总额(元)</p>
                    <p class="f-16">{{data.order.UNPAID_TOTAL_AMT | number:2}}</p>
                </li>
                <li class="col c-fff">
                    <p>已还总额(元)</p>
                    <p class="f-16">{{data.order.HAS_PAIDBACK_AMT | number:2}}</p>
                    <div class="progress rotate90">
                        <svg width="120" height="120">
                            <circle cx="60" cy="60" r="55" stroke-width="5" stroke="#fff" fill="none"></circle>
                            <circle cx="60" cy="60" r="55" stroke-width="5" stroke="#9CB2F9" fill="none"
                                    class="animate-middle"
                                    stroke-linecap="round"
                                    stroke-dasharray="{{data.order.HAS_PAIDBACK_AMT/data.order.TOTAL_AMT*377}} 377"></circle>
                        </svg>
                    </div>
                </li>
                <li class="col">
                    <p>需还总额(元)</p>
                    <p class="f-16">{{data.order.TOTAL_AMT | number:2}}</p>
                </li>
            </ul>
        </div>
        <div class="Order_plan_content b-fff f-14 m-top-10">
            <div class="row c-999 f-13">
                <div class="col">还款日</div>
                <div class="col a-center">每期还款(元)</div>
                <div class="col a-right">还款状态</div>
            </div>

            <div class="row" ng-repeat="item in data.planList">
                <div class="col col-40">{{item.PAY_DATE.time | date:"yyyy-MM-dd"}} <span ng-if="item.IS_DELAY=='100000000001'" class="tag tag-orange">逾期</span></div>
                <div class="col col-20 a-center">{{item.PAY_AMT | number:2}}</div>
                <div class="col col-40 a-right">
                    <!--有还款计划 状态码为6 非募集中-->
                    <div ng-if="item.REPAY_STATUS&&data.order.SOD_MAIN_STATE == '241900000006'&&is_raise =='0'">
                        <!--已还-->
                        <span ng-if="item.REPAY_STATUS == '151400000002'" class="c-999">已还款</span>
                        <!--未还或待确认中-->

                        <p ng-if="item.REPAY_STATUS == '151400000001'">
                            <span ng-if="data.order.IS_PDSTATUS_REPAY == '100000000002'" class="c-999">未还款</span>
                            <a ng-if="item.IS_TODO_PAY == '100000000001'&&data.order.IS_PDSTATUS_REPAY == '100000000001' || item.IS_DELAY =='100000000001'" ng-click="payOff(item.PERIOD)">去还款</a>
                            <a ng-if="item.IS_TODO_PAY == null&&item.IS_ADVANCED_PAY=='100000000001'&&data.order.IS_PDSTATUS_REPAY == '100000000001'" ng-click="payOff(item.PERIOD)">提前还款</a>
                        </p>

                        <p ng-if="item.REPAY_STATUS == '151400000003'">
                            <span ng-if="data.order.IS_PDSTATUS_REPAY == '100000000001'" class="positive">待确认</span>
                        </p>
                    </div>

                    <!--没有还款计划 其它状态 是否是募集中-->
                    <p ng-if="!item.REPAY_STATUS||data.order.SOD_MAIN_STATE != '241900000006'||is_raise== '1'">
                        <span class="c-999">未还款</span>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>