
<ion-view title="设置" hide-nav-bar="isWechat">
    <ion-content scroll="false">
        <div class="list">
            <div class="item item-icon-right Me_head">
                头像
                <img class="head-img f-right" ng-src="{{data.head_img_url}}">
                <upload-head text="data.head_img_url"></upload-head>
                <i class="icon icon-forward"></i>
            </div>
            <div class="item" ng-if="isWechat">
                微信绑定
                <span class="item-note">
                    <a ng-if="!data.is_bind_wechat_account" ng-click="bindWechat(true)">绑定</a>
                    <a ng-if="data.is_bind_wechat_account" ng-click="bindWechat(false)">解绑</a>
                </span>
            </div>
        </div>
        <div class="list">
            <div class="item">
                交易密码
                <span class="item-note">
                    <a ng-if="data.tradepassword_vf == 100000000002"
                       ng-click="stateGo('tab.me_tradePassword')">设置</a>
                    <a ng-if="data.tradepassword_vf == 100000000001"
                       ng-click="stateGo('tab.me_tradePassword')">修改</a>
                    <a ng-if="data.tradepassword_vf == 100000000001"
                       ng-click="stateGo('tab.me_resetTradePassword')">重置</a>
                </span>
            </div>
            <div class="item">
                登录密码
                <span class="item-note"><a ng-click="stateGo('tab.forgetPassword')">修改</a></span>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive"
                    ng-class="{'button-disabled':!isLogin}"
                    ng-click="userLogout()">退出登录</button>
        </div>
    </ion-content>
</ion-view>