
<ion-view title="重置交易密码" hide-nav-bar="isWechat" nav-direction="back">
    <ion-content scroll="false">
        <!--重置交易密码-->
        <div class="list">
            <div class="c-999 f-12 padding">
                交易密码为您的账户余额安全保驾护航
            </div>
            <div class="item item-input item-icon-right">
                <span class="input-label">身份证号</span>
                <inputclear text="forgetPwd.idcard"></inputclear>
                <input ng-model="forgetPwd.idcard" type="text" onkeyup="value=value.replace(/[\W|a-w|y-z|A-Z]/g,'')" placeholder="请输入身份证号" name="idcard" maxlength="18">
            </div>
            <div class="item item-input item-icon-right">
                <span class="input-label">新交易密码</span>
                <input ng-model="forgetPwd.tradePassword" type="password" onkeyup="value=value.replace(/[\u4E00-\u9FA5]/g,'')" placeholder="6-16位字符，包含字母，数字" name="tradePassword" maxlength="16" minlength="6">
                <eyeicon></eyeicon>
                <inputclear text="forgetPwd.tradePassword"></inputclear>
            </div>
            <div class="item item-input item-button-right">
                <span class="input-label">验证码</span>
                <input type="tel" placeholder="请输入验证码" ng-model="forgetPwd.phoneCode" name="phoneCode">
                <button class="button button-positive button-outline button_validate"
                        ng-class="{'button-disabled':!sms.isDisabled}"
                        ng-click="smsSend('100000000002',forgetPwd.mobileNo)" maxlength="10">{{sms.text}}</button>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive"
                    ng-click="submit()">确定</button>
        </div>

    </ion-content>
</ion-view>