
<ion-view title="我的" hide-nav-bar="true">
   <ion-content>
       <div class="content">
           <div ng-if="!isLogin" class="Me_header not-login header_bg-img c-fff">
               <div class="padding user f-16">
                   <img class="head-img" src="frame/images/v2mytx.png">
                   请先登录再进行操作
               </div>
               <div class="row log-in">
                   <div class="col a-left">
                       <button class="button button-assertive button-block" ng-click="stateGo('tab.login')">登录</button>
                   </div>
                   <div class="col a-right">
                       <button class="button button-assertive button-outline button-block" ng-click="stateGo('tab.register')">注册</button>
                   </div>
               </div>
           </div>
           <div ng-if="isLogin" class="Me_header header_bg-img c-fff">
               <div class="user f-13">
                   <img class="head-img" ng-src="{{data.user.head_img_url}}">
                   <p class="account">
                       账户余额(元):
                       <span class="f-18 c-orange">{{data.user.balance_amt | number:2}}</span>
                   </p>
                   <p class="phone f-12">{{data.user.mobile | splitBy:'phoneReplace'}}
                       <span class="daybook f-right l-height1" ng-click="stateGo('tab.me_moneylist')">资金流水>></span></p>
               </div>
               <div class="row a-left content">
                   <div class="col">
                       <p>待还总额(元)</p>
                       <p class="c-fff f-16">{{data.inst_order.total_repayment | number:2}}</p>
                       <p ng-if="data.inst_order.inst_order_num>0">累计待还分期{{data.inst_order.inst_order_num}}笔</p>
                   </div>
                   <div class="col">
                       <p>近一期待还(元)</p>
                       <p class="c-orange f-16">{{data.inst_order.current_repayment_amt | number:2}}</p>
                       <p ng-if="data.inst_order.current_left_days > 0">距本期最终还款日{{data.inst_order.current_left_days}}天</p>
                       <p ng-if="data.inst_order.current_left_days < 0">您已逾期 <span class="c-orange">{{-data.inst_order.current_left_days}}</span> 天</p>
                       <!--<p>近期暂无待还款的订单</p>-->
                   </div>
                   <div class="pay b-orange f-15" ng-if="data.inst_order.current_repayment_amt > 0" ng-click="stateGo('tab.me_repayList')">去还款</div>
               </div>
           </div>
           <div class="list Me_cash">
               <div class="row none-padding" align="center">
                   <a class="col pay" ng-click="stateGo('tab.me_recharge')">
                       <p class="f-16 c-orange">充值</p>
                   </a>
                   <a class="col" ng-click="stateGo('tab.me_withdraw')">
                       <p class="f-16 positive">提现</p>
                   </a>
               </div>
           </div>

           <div class="list">
               <a class="item border-bottom item-icon-left item-icon-right"
                  ng-click="stateGo('tab.me_order',{anchor : 1})">
                   <i class="icon icon-lease2 c-red"></i>
                   待确认订单
                   <span class="item-note c-orange" ng-if="data.inst_order.unconfirm_inst_order_num>0">{{data.inst_order.unconfirm_inst_order_num}}</span>
                   <i class="icon icon-forward"></i>
               </a>
               <a class="item border-bottom item-icon-left item-icon-right"
                  ng-click="stateGo('tab.me_order',{anchor : 0})">
                   <i class="icon icon-lease2 c-green"></i>
                   我的订单
                   <i class="icon icon-forward"></i>
               </a>
               <a class="item item-icon-left item-icon-right"
                  ng-click="stateGo('tab.me_repayRecord')">
                   <i class="icon icon-wallet c-red"></i>
                   还款记录
                   <i class="icon icon-forward"></i>
               </a>
               <div ng-if="data.user.cardcd_tail" class="item item-icon-left item-icon-right"
                    ng-click="stateGo('tab.me_bankcard')">
                   <i class="icon icon-card c-blue"></i>
                    银行卡
                   <span class="item-note">
                       <img class="bank-img" ng-src='frame/images/{{data.user.app_bankImg}}'>
                       尾号{{data.user.cardcd_tail}}
                   </span>
                   <i class="icon icon-forward"></i>
               </div>
               <!--未绑卡显示去绑卡-->
               <a ng-if="!data.user.cardcd_tail" class="item item-icon-left item-icon-right"
                    ng-click="stateGo('tab.credit_bindBankcard')">
                   <i class="icon icon-card c-blue"></i>
                   银行卡
                   <span class="item-note a" ng-if="isLogin">绑卡</span>
                   <i class="icon icon-forward"></i>
               </a>

           </div>

           <div class="list">
               <a ng-click="stateGo('tab.me_set')" class="item border-bottom item-icon-left item-icon-right">
                   <i class="icon icon-set c-yellow"></i>
                   设置
                   <i class="icon icon-forward"></i>
               </a>
           </div>

           <div class="list m-bottom">
               <a ng-click="stateGo('tab.me_help')" class="item border-bottom item-icon-left item-icon-right">
                   <i class="icon icon-heart c-red"></i>
                   帮助中心
                   <i class="icon icon-forward"></i>
               </a>
               <a ng-click="stateGo('tab.me_aboutus')" class="item border-bottom item-icon-left item-icon-right">
                   <i class="icon icon-about c-green"></i>
                   关于我们
                   <i class="icon icon-forward"></i>
               </a>
           </div>
       </div>
   </ion-content>
 </ion-view>
