@charset "UTF-8";
/*通用*/
.a-left {text-align: left;}
.a-center {text-align: center;}
.a-right {text-align: right;}
.a-justify {text-align: justify}
.b-fff {background-color: #fff !important;}
.b-orange {background-color: #ff6817}
.b-pink {background-color: #fef4f3;}
.b-gray {background-color: #d2d2d2 !important;}
.border-bottom {border-bottom: 1px solid #d2d2d2;}
.c-red {color: #f2877f !important}
.c-green {color: #abdeb0 !important;}
.c-dark-green {color: #7ACA2F !important;}
.c-yellow {color: #f1bb92 !important;}
.c-blue {color: #93cbfa !important}
.c-dark-blue {color: #4153AA !important}
.c-orange { color: #ff6817 !important;}
.c-gray {color: rgba(255,255,255,0.6) !important;}
.c-fff {color: #fff !important;}
.c-000 {color: #000 !important;}
.c-333 {color: #333 !important;}
.c-666 {color: #666 !important;}
.c-999 {color: #999 !important;}
.f-0 {font-size: 0px !important;}
.f-10 {font-size: 10px !important;}
.f-11 {font-size: 11px !important;}
.f-12 {font-size: 12px !important;}
.f-13 {font-size: 13px !important;}
.f-14 {font-size: 14px !important;}
.f-15 {font-size: 15px !important;}
.f-16 {font-size: 16px !important;}
.f-18 {font-size: 18px !important;}
.f-20 {font-size: 20px !important;}
.f-24 {font-size: 24px !important;}
.f-28 {font-size: 28px !important;}
.f-32 {font-size: 32px !important;}
.f-40 {font-size: 40px !important;}
.f-80 {font-size: 80px !important;}
.f-w-b {font-weight: bold;}
.f-w-n {font-weight: normal;}
.f-w-l {font-weight: lighter;}
.f-left {float: left;}
.f-right {float: right;}
.l-height { line-height: 1.8;}
.l-height16 { line-height: 1.6;}
.l-height1 { line-height: 1;}
.l-height2{line-height: 2;}
.l-height3{line-height: 3;}
.m-top {margin-top: 20px !important;}
.m-top-10 {margin-top: 10px !important;}
.m-top-15 {margin-top: 15px !important;}
.m-bottom {margin-bottom: 20px !important;}
.m-bottom-5 {margin-bottom: 5px !important;}
.m-bottom-10 {margin-bottom: 10px !important;}
.m-bottom-15 {margin-bottom: 15px !important;}
.tag {padding: 0 .5em;margin-left: 5px;color: #fff;font-size: 12px;}
.tag-orange {background-color: rgba(255,104,23,0.6)}
.t-indent2 {text-indent: 2em;}
/*超出显示...*/
.ellipsis {display:block;white-space:nowrap !important; overflow:hidden; text-overflow:ellipsis;}
.ellipsis2 { overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}

/*模板美化 公用*/
.button.button_validate{width: 100px; display: inline-block; text-align: center;padding: 0;font-size: 14px}

img {width: 100%;}
.item-input .icon-passwordon + .icon, .item-input .icon-passwordoff + .icon {right: 40px}
.list .item:not(:last-child):after {content: "";width: 16px;position: absolute; left: 0;bottom: -1px;border-bottom: 1px solid #fff}
.bank-img {width: auto; height: 1.4em;}
/*空页面*/
.Blank_page {padding-top: 120px;}
.Blank_page img {width: 120px;}
/*首页租约块*/
.H_order.activated .item{background-color: #f2f2f2}
.H_order {margin-bottom: 20px;border-bottom-width: 0;display: block;}
.H_order .item-avatar {padding-right: 60px;margin-bottom: -16px}
.H_order h2.alone {line-height: 40px;margin: 0}
.H_order .tag {position: absolute;top: 20px;}
.H_order .item-avatar p {line-height: 20px;margin: 0}
.H_order .img-box {padding: 0 35%}
.H_order .button {margin-top: 10px;}
.H_order .step {line-height: 36px;position: absolute;right: 32px;top: 16px}
/*首页展示 消费金融 和 长租公寓 列表页*/
.H_banking,
.H_apartment{width:100%;min-height:220px;position:relative;margin-bottom:5px}
.H_apartment img,
.H_banking img{width:100%;height:auto;display:block}
.H_apartment .bg-clarity{width:100%;height:100%;position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.3)}
.H_apartment .words{width:100%;padding:10px;position:absolute;bottom:0;left:0;background:rgba(0,0,0,0.4)}
.H_apartment .words h2{margin-bottom:0}
.H_banking .words{position:absolute;z-index:1;width:100%;height:100%;padding:60px;top:0;left:0;background-color:rgba(0,0,0,0.3)}
.H_banking .look{margin-top:15px;width:140px;line-height:32px;display:inline-block;border:1px solid #fff;border-radius:2px}
/*我的主页面*/
.header_bg-img {background-image: url("../images/account_bg.png"); background-repeat: no-repeat; background-size: 100% 100%;}
.Me_header {height: 180px;}
.Me_header .user  {position: relative;padding: 16px;padding-left: 90px}
.Me_header .user img {position: absolute;top: 16px;left: 16px;}
.head-img {width: 60px;height: 60px;border-radius: 50%;}
.Me_header.not-login .user { line-height: 60px;}
.Me_header.not-login .log-in {padding: 12px 0 0;}
.Me_header.not-login .log-in .col { margin: 0 16px;}
.Me_header .user .account { margin-top: 8px; margin-bottom: 5px; }
.Me_header .user .daybook {border-bottom: 1px solid #fff; }
.Me_header .content { padding: 12px 16px 20px; position: relative; }
.Me_header .content p { color: rgba(255,255,255,0.6); }
.Me_header .content .pay { display: inline-block;position: absolute; right: 16px; top: 16px; padding: 3px 8px; }
.Me_cash .pay p {border-right: 1px solid #d2d2d2;}
.Me_cash p {line-height: 32px}
/*还款*/
.Repay_header p {line-height: 1.2;margin-bottom: 10px}
.Repay_res .status {border-bottom: 1px solid #dedede;}
.Repay_res .detail p {padding-left: 6em;line-height: 1.8}
.Repay_res .detail .title {display: inline-block;width: 6em;color: #999;margin-left: -6em;}
/*还款记录*/
.Repay_record .store_name{width:200px;}
/*银行卡页面*/
.Me_bankcard{height:140px;position:relative;margin:20px 10px;padding:12px;border-radius:3px;background-color:#fff;box-shadow:0 1px 5px rgba(0, 0, 0, .3)}
.Me_bankcard p{height:40px}
.Me_bankcard .bank-icon{width:20px;height:20px;margin-right:5px;display:inline-block;float:left;border-radius:50%;background:#fff;overflow:hidden}
.Me_bankcard .bank-icon img{width:1.4em;height:auto;position:relative;left:-1px;top:1px}
/*设置  */
.Me_head {line-height: 60px;}
.Me_head input { width: 60px;height: 60px; position: absolute; right: 32px; z-index: 9; opacity: 0; }
/*我的订单*/
.Order_nav.tabs {top: 0;}
.C_info.tabs .tab-item,
.Order_nav.tabs .tab-item {line-height: 48px;color: #666;margin: 0 10px;}
.Order_li{display: block;border-bottom: none;background-color: #fff}
.Order_li.activated,.Order_li.activated .item{background-color: #f2f2f2;}
.Order_li .item-note{position: absolute;right: 32px;top: 16px;line-height: 36px;}
.Order_li .row .col:nth-child(2) {border-left: 1px dashed #d2d2d2;border-right: 1px dashed #d2d2d2;}
.Order_li .item .button{position: absolute;right: 12px;bottom: 8px;width:92px;line-height: 32px;min-height: 32px;font-size: 14px;padding: 0;}
/*订单详情*/
.Order_detail_header .seal {position: absolute;width: 90px;height: 90px;right: 24px;top: 20px;}
.Order_detail p {color: #666;margin-bottom: 5px;font-size: 13px;}
.Order_detail p .title{display: inline-block;width: 6em;color: #999}
/*还款进度*/
.Order_progress{padding:16px;padding-left:45px;position:relative}
.Order_progress .line{height:100%;display:block;position:absolute;top:20px;left:21px;border-left:1px solid #d2d2d2;z-index:10}
.Order_progress:last-child .line{display:none}
.Order_progress .circle{width:11px;height:11px;border-radius:50%;background-color:#d2d2d2;top:20px;left:16px;position:absolute;z-index:15}
.Order_progress.active{color:#3458ab;font-size:14px}
.Order_progress.active .circle{background-color:#3458ab}
.Order_progress.active .circle:after{content:"";width:15px;height:15px;border-radius:50%;display:block;position:absolute;background-color:rgba(52, 88, 171, .4);top:-2px;left:-2px;}
/*还款明细*/
.Order_plan_header {padding-top: 16px;}
.Order_plan_header .row{padding: 50px 0; position: relative;}
.Order_plan_header .progress{display: inline-block; width: 120px; height: 120px; position: absolute;left: 0; top: 0; right: 0; bottom:0;margin: auto;}
.Order_plan_content .row{padding: 12px 15px;border-bottom: 1px solid #dedede;position: relative}
.Order_plan_content .row:last-child{border-bottom: none;}
.Order_plan_content .row:not(:last-child):after {content: "";width: 16px;position: absolute; left: 0;bottom: -1px;border-bottom: 1px solid #fff}
/*信用页面*/
.C_guide .img-box {padding: 75px 70px 0}
.C_guide .title {line-height: 60px}
.C_guide .button {margin-top: 20px}
/*身份证上传  &&&  合同上传*/
.C_info.tabs .tab-item {line-height: 44px;}
.C_info_upload {position: relative;padding: 24px 16px 8px;font-size: 14px}
.C_info_upload .title {position: absolute;line-height: 1;top: 8px;}
.C_info_upload input[type = "file"] { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 9; opacity: 0; }
.C_info_upload img.camera {width: 24px;}
/*我的消息*/
.M_list .item h2 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 5px; }
.M_list .item.unread h2:before { content: ""; display: inline-block; width: 8px; height: 8px; background-color: #ff6817; border-radius: 50%; position: absolute; left: 12px; top: 28px; }

/*登录注册页面*/
.log-in .list {margin-top: 20px; margin-bottom: 0;}
.log-in input { font-size: 14px; font-weight: 300;}
.register .item {border: none}
.register .item.item-checkbox {background: none}
/*底部建议*/
.tips {color: #aaa; padding: 10px;}
.tips .header { text-align: center; font-size: 14px; }
.tips .header:before,
.tips .header:after { content: ""; width: 40%; display: inline-block; border-bottom: 1px solid #d2d2d2; margin-top: 10px;  }
.tips .header:before { float: left;}
.tips .header:after {float: right;}
.tips ol { list-style-type: decimal; padding-top: 10px;padding-left: 16px;}
.tips ol ul {list-style-type: disc; padding-left: 15px;}
/*动画*/
.animate {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 300ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 300ms;
}
.animate-middle {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 600ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 600ms;
}
.animate-slow {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 1s;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 1s;
}
.rotate90 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.rotate180 {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.show-up { position: relative; top: 40px;opacity: 0; -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 1s;transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 1s; }
.show-up.show { top: 0; opacity: 1;}


/*.tab-item {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*-webkit-transform: perspective(1px) translateZ(0);*/
    /*transform: perspective(1px) translateZ(0);*/
    /*box-shadow: 0 0 1px transparent;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*-webkit-transition-property: color;*/
    /*transition-property: color;*/
    /*-webkit-transition-duration: 0.5s;*/
    /*transition-duration: 0.5s;*/
/*}*/
/*.tab-item.activated {*/
    /*color: #fff;*/
/*}*/
/*.tab-item.activated:before {*/
    /*-webkit-transform: scale(4);*/
    /*transform: scale(4);*/
    /*-webkit-transition-property: transform;*/
    /*transition-property: transform;*/
    /*-webkit-transition-duration: 0.25s;*/
    /*transition-duration: 0.25s;*/
    /*-webkit-transition-timing-function: ease-out;*/
    /*transition-timing-function: ease-out;*/
/*}*/
/*.tab-item:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*width: 48px;*/
    /*height: 48px;*/
    /*display: block;*/
    /*z-index: -1;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*background: #f2f2f2;*/
    /*border-radius: 50%;*/
    /*-webkit-transform: scale(0);*/
    /*transform: scale(0);*/
/*}*/

