

<ion-view title="忘记密码" hide-nav-bar="isWechat">
    <ion-content scroll="false">
        <div class="list m-top">
            <div class="item item-input item-icon-right">
                <span class="input-label">手机号码</span>
                <input type="tel" placeholder="请输入11位手机号码" ng-model="forgetPwd.mobileNo" name="mobileNo" maxlength="20">
                <inputclear text="forgetPwd.mobileNo"></inputclear>
            </div>
            <div class="item item-input item-button-right">
                <span class="input-label">验证码</span>
                <input type="tel" placeholder="请输入验证码" ng-model="forgetPwd.phoneCode" name="phoneCode" maxlength="10">
                <button class="button button-outline button-positive button_validate"
                        ng-class="{'button-disabled':(!sms.isDisabled)||(!forgetPwd.mobileNo)}"
                        ng-click="smsSend('100000000002',forgetPwd.mobileNo)">
                    {{sms.text}}
                </button>
            </div>
            <!--语音获取-->
            <div class="item item-divider header f-10" ng-show="sms.isSend">
                已向{{sms.mobileNo}}发送短信，如未收到，您还可以
                <a ng-click="smsSend('100000000001',forgetPwd.mobileNo)">语音获取</a>
            </div>
            <div class="item item-input item-icon-right">
                <span class="input-label">设置密码</span>
                <input ng-model="forgetPwd.password" id="password" type="password" placeholder="请输入密码" name="password" maxlength="16" minlength="6">
                <eyeicon></eyeicon>
                <inputclear text="forgetPwd.password"></inputclear>
            </div>

        </div>

        <div class="padding">
            <button type="button" class="button button-block button-positive"
                    ng-class="{'button-disabled':!forgetPwd.mobileNo}"
                    ng-click="submit()">
                确定
            </button>
        </div>

    </ion-content>
</ion-view>