
<ion-view title="注册页面" hide-nav-bar="isWechat">
    <ion-content scroll="false">
        <div class="register m-top" ng-show="step=='one'">
            <div class="list m-bottom-5">
                <div class="item item-input item-icon-right">
                    <span class="input-label">手机号码</span>
                    <input ng-model="register.mobileNo" type="tel" placeholder="请输入11位手机号码" class="f-12" minlength="11" maxlength="16">
                    <inputclear text="register.mobileNo"></inputclear>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive"
                        ng-class="{'button-disabled':!register.mobileNo}"
                        ng-click="next()">
                    下一步
                </button>
                <div class="m-top-10" align="right">
                    <a ng-click="stateGo('tab.login')">已有账号，去登录</a>
                </div>
            </div>
        </div>

        <div ng-show="step == 'two'">
            <div class="list">
                <div class="c-999 padding">
                    已向{{sms.mobileNo}}发送短信，如未收到，您还可以
                    <a ng-click="smsSend('100000000001',register.mobileNo)">语音获取</a>
                </div>
                <div class="item item-input item-button-right">
                    <span class="input-label">验证码</span>
                    <input type="tel" placeholder="请输入验证码" class="f-12" ng-model="register.phoneCode" name="phoneCode" maxlength="10">
                    <button class="button button-positive button-outline button_validate"
                            ng-class="{'button-disabled':!sms.isDisabled}"
                            ng-click="smsSend('100000000002',register.mobileNo)">
                        {{sms.text}}
                    </button>
                </div>
                <div class="item item-input item-icon-right">
                    <span class="input-label">设置密码</span>
                    <input ng-model="register.password" id="password" type="password" placeholder="6-16位字符，包含字母、数字和特殊符号" name="password" minlength="6" class="f-12" maxlength="16">
                    <eyeicon></eyeicon>
                    <inputclear text="register.password"></inputclear>
                </div>
            </div>

            <div class="padding">
                <button class="button button-block button-positive"
                        ng-class="{'button-disabled':!(register.phoneCode && register.password && register.agree)}"
                        ng-click="doRegister()">
                    立即注册
                </button>
                <p class="f-12 m-top-10">
                    <label class="checkbox f-12 none-padding">
                        <input type="checkbox" name="agree"
                               ng-checked="register.agree"
                               ng-model="register.agree"
                               ng-init="register.agree=true">
                        <span class="c-999">我已阅读并同意</span>
                    </label>
                    <a ng-click="stateGo('tab.register_agreement')">《服务协议》</a>
                </p>
                <p class="m-top-10 f-12">
                    <label class="checkbox f-12 none-padding" ng-if="isWechat">
                        <input type="checkbox" name="bind"
                               ng-checked="register.bind"
                               ng-model="register.bind"
                               ng-init="register.bind=true">
                        <span class="c-999">绑定当前微信号到注册账户</span>
                    </label>
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>