<style>
    div.animate,
    p.animate {
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
        text-align: justify;
        clear: both;
    }
    div.show,
    p.show {
        margin-top: 10px;
        height: auto;
    }
    .item {
        font-size: 14px;
        line-height: 1.8;
        padding: 12px 16px;
    }
    .item p {
        font-size: 13px;
        line-height: 1.6;
        padding-left: 8px;
    }
</style>
<div class="list m-top">
    <div class="item b-fff" ng-click="step==1?step=0:step=1">
        时惠分享介绍
        <i ng-class="{'rotate180':step==1}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==1}">时惠分享是上海南相资产管理有限公司推出的金融服务平台，目前主要提供按月租房分期和消费分期服务。用户可在与时惠分享合作的线上线下商户享受便捷的纯线上分期支付服务。时惠分享目前已上线，请关注微信公众号(时惠分享),进行确认分期订单和进行还款。</p>
    </div>
    <div class="item b-fff" ng-click="step==2?step=0:step=2">
        申请流程
        <i ng-class="{'rotate180':step==2}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <div class="animate" ng-class="{'show':step==2}">
            <p>1) 获得线下商户的推荐，商户会在时惠分享的商户平台上为你创建订单</p>
            <p>2) 到时惠分享平台上填写还款时的银行卡信息及信用基础信息</p>
            <p>3) 信息资料填写后，在首页确认时惠分享推出的商户为您创建的分期订单，如果觉得分期订单信息有误你可以放弃该订单，同时联系商户为你重新创建分期订单。</p>
            <p>4) 订单确认后您的分期订单进入还款中，届时你只需通过时惠分享按时还款即可，直到订单还款结束。</p>
        </div>
    </div>
    <div class="item b-fff" ng-click="step==3?step=0:step=3">
        时惠分享联系方式是什么？
        <i ng-class="{'rotate180':step==3}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <div class="animate" ng-class="{'show':step==3}">
            <p>时惠分享客服工作时间为周一至周五9:00—17:30(法定节假日除外)。您可以通过以下方式联系我们:</p>
            <p>1)公司地址：上海市普陀区中江路388号新城控股大厦B座2202 <br/>
                联系电话：400-920-1239 <br/>
                邮箱：cs@caifunc.com</p>
            <p>2)您可以直接通过关注微信公众号(时惠分享)，在线咨询客服。</p>
        </div>
    </div>
    <div class="item b-fff" ng-click="step==4?step=0:step=4">
        时惠分享支持用什么账号登录？
        <i ng-class="{'rotate180':step==4}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==4}">目前时惠分享支持手机号注册的账号进行登录；假如你已在上海南相资产管理有限公司旗下的财富农场注册过，也可使用该账号直接登录。</p>
    </div>
    <div class="item b-fff" ng-click="step==5?step=0:step=5">
        如何设置自己的密码?
        <i ng-class="{'rotate180':step==5}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==5}">如果你要修改登录密码，可以点击【我的】页面右上角的【设置】按钮进入【设置】页面，点击【修改登录密码】选项进行修改登录密码。如果您是遗忘了登录密码，可在【登录】页面，点击【忘记密码】找回。</p>
    </div>
    <div class="item b-fff" ng-click="step==6?step=0:step=6">
        注册手机时收不到验证码怎么办？
        <i ng-class="{'rotate180':step==6}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <div class="animate" ng-class="{'show':step==6}">
            <p>1）确认短信是否被拦截或者过滤</p>
            <p>2）确认手机是否正常接收短信（信号问题，欠费，停机等问题）</p>
            <p>3）短信收发过程中可能会有延时请耐心等待，同时你也可以选择语音接收短信验证码。</p>
        </div>
    </div>
    <div class="item b-fff" ng-click="step==8?step=0:step=8">
        一个手机号可以注册几个账户?
        <i ng-class="{'rotate180':step==8}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==8}">手机号和客户身份信息都具有唯一性，故一个手机号只能注册绑定一个账户</p>
    </div>
    <div class="item b-fff" ng-click="step==9?step=0:step=9">
        为什么需要填写信用信息资料？<br/>我的信用资料会不会被泄露,安全么？
        <i ng-class="{'rotate180':step==9}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==9}">时惠分享的信审人员会根据你提交的信用信息资料对你确认过的分期订单进行审核，信息资料完整度越高，越正确则你的分期订单审核通过率越高。你所提交的信用信息资料没有经过你本人的同意是不会告知给第三方的。信息资料都是经过技术加密的。</p>
    </div>
    <div class="item b-fff" ng-click="step==10?step=0:step=10">
        我的还款计划是怎么计算的?
        <i ng-class="{'rotate180':step==10}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==10}">时惠分享会根据你的分期总额及设定好的分期期限和还款开始时间采用等额本息的还款方式计算的。每期的还款金额包含利息及其他手续费。</p>
    </div>
    <div class="item b-fff" ng-click="step==11?step=0:step=11">
        审核时间
        <i ng-class="{'rotate180':step==11}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==11}">订单在提交后，时惠分享的信审人员会在1-2个工作日完成电话审核，确认分期订单是否成立，在此期间请随时保持手机畅通</p>
    </div>
    <div class="item b-fff" ng-click="step==13?step=0:step=13">
        审核失败(未通过)的原因
        <i ng-class="{'rotate180':step==13}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <div class="animate" ng-class="{'show':step==13}">
            <p>1.申请分期的用户不是年满18-40周岁的中国大陆公民。</p>
            <p>2.申请分期的用户命中某些信用黑名单，有不良征信记录，有犯罪记录以及相关的风控红线等</p>
            <p>3.申请分期用户非本人联系方式</p>
            <p>4.系统与合同金额不符</p>
            <p>5.申请分期用户工作信息有误</p>
            <p>6.分期期限和租赁期限不符</p>
            <p>7.用户本人手机因特殊原因不能办理(卡顿，闪退等)</p>
            <p>8.申请分期用户为时惠分享合作商户的内部员工</p>
            <p>9.申请分期用户工作单位涉及地产中介或者房贷业务</p>
        </div>
    </div>
    <div class="item b-fff" ng-click="step==14?step=0:step=14">
        更改手机号
        <i ng-class="{'rotate180':step==14}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==14}">
            发送邮件到cs@caifunc.com，邮件标题：【****商户的分期用户更换申请手机号】。邮件内容：户名****，因为****原因，将原来申请注册的手机号*********修改为***********。邮件发送后，工作人员会及时处理。
        </p>
    </div>
    <div class="item b-fff" ng-click="step==15?step=0:step=15">
        更换还款银行卡
        <i ng-class="{'rotate180':step==15}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <div class="animate" ng-class="{'show':step==15}">
            <p>
                您可以到上海南相资产管理有限公司旗下的理财平台财富农场进行申请更换。或者可以通过联系客服提交相应的资料进行解绑然后在更换。
            </p>
            <p>1.登录http://www.caifunc.com/，我的账户---银行卡管理，具体流程如下：</p>
            <p>图1:更换银行卡<br/>
                <img src="frame/images/help/pic1.png">
            </p>
            <p>图2:填写手机号&交易密码<br/>
                <img src="frame/images/help/pic2.png">
            </p>
            <p>图3:填写变更后的银行卡(身份证+手机号 不能变更)<br/>
                <img src="frame/images/help/pic3.png">
            </p>
            <p>图4:上传身份证明附件<br/>
                <img src="frame/images/help/pic4.png">
            </p>
            <p>图5:申请成功<br/>
                <img src="frame/images/help/pic5.png">
            </p>
        </div>
    </div>
    <div class="item b-fff" ng-click="step==16?step=0:step=16">
        还款
        <i ng-class="{'rotate180':step==16}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==16}">
            你可以在【首页】或者【我的】页面的右上角点击去还款按钮进去还款列表选择最近一期的还款订单点击【立即还款】到【还款】页面选择还款渠道进行还款。如果你的账户余额不足以还款本期的金额，您可以选择在线充值还款
        </p>
    </div>
    <div class="item b-fff" ng-click="step==17?step=0:step=17">
        什么是在线充值还款？
        <i ng-class="{'rotate180':step==17}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==17}">
            在线充值还款是时惠分享针对分期用户开通的快捷还款方式之一，由分期用户在线充值到时惠分享在第三方支付平台的账户中，然后由第三方支付还款给投资人的一种还款方式。
        </p>
    </div>
    <div class="item b-fff" ng-click="step==18?step=0:step=18">
        申请分期有什么费用么？
        <i ng-class="{'rotate180':step==18}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==18}">
            时惠分享暂不收申请分期用户的任何费用，时惠分享会收取商户保证金的，商户是否收取申请分期人员的费用由商户和申请分期的合同而定，时惠分享不便干预。
        </p>
    </div>
    <div class="item b-fff" ng-click="step==19?step=0:step=19">
        审批结果出来后会通知我么？
        <i ng-class="{'rotate180':step==19}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==19}">
            审批结果出来后，时惠分享会在第一时间发送短信到你注册时的手机号上，也会在实惠分享的消息模块推送系统消息给你。审核过程中，时惠分享的信审人员也会打电话核实你所提交的信用信息资料。所以在审核过程中请务必保持手机畅通，不然会影响审核进度。
        </p>
    </div>
    <div class="item b-fff" ng-click="step==20?step=0:step=20">
        在哪里确认分期订单？
        <i ng-class="{'rotate180':step==20}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==20}">
            申请分期用户可以在【首页】的推送或者在【我的】页面【待确认订单】一栏中对未确认的订单进行确认。
        </p>
    </div>
    <div class="item b-fff" ng-click="step==21?step=0:step=21">
        如果分期申请失败怎么办？
        <i ng-class="{'rotate180':step==21}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==21}">
            如因个人信息不完整或经时惠分享的信审人员核实信息不正确，为了提高申请通过率请尽快填写完整并准确的信息。
        </p>
    </div>
    <div class="item b-fff" ng-click="step==22?step=0:step=22">
        有还款提醒么？
        <i ng-class="{'rotate180':step==22}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==22}">
            离还款日还有2天，时惠分享会给您发送短信提醒到您注册时的手机上，同时也会在时惠分享这个平台的【消息】页面推送消息给你，届时请保持手机畅通
        </p>
    </div>
    <div class="item b-fff" ng-click="step==23?step=0:step=23">
        可以提前还款和结清么？
        <i ng-class="{'rotate180':step==23}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==23}">
            目前时惠分享只针对单笔订单的单期可以提前还款，还不可以针对单笔订单提前还清
        </p>
    </div>
    <div class="item b-fff" ng-click="step==24?step=0:step=24">
        一直不还款会怎么样？
        <i ng-class="{'rotate180':step==24}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <div class="animate" ng-class="{'show':step==24}">
            <p>首先，逾期记录将会影响您在时惠分享的资信记录。</p>
            <p>其次，您无法再向时惠分享申请任何形式的服务</p>
        </div>
    </div>
    <div class="item b-fff" ng-click="step==25?step=0:step=25">
        没按时还款会怎么样？
        <i ng-class="{'rotate180':step==25}" class="icon icon-arrow-down f-right f-18 c-999 animate"></i>
        <p class="animate" ng-class="{'show':step==25}">
            逾期将支付罚息，罚息根据申请的服务不同有所区别，具体收取标准按订单的计算标准为主。逾期记录将会影响您在各个资信系统的信用记录，失信名单将会作为社会资源，对升学，就业，信贷，经营等领域产生影响。请您务必重视及时还款
        </p>
    </div>
</div>
<div style="height: 90px;"></div>