

<ion-tabs class="tabs-icon-top tabs-light" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- 主页 -->
  <ion-tab title="首页" class="tab-item-positive" icon-off="icon icon-home" icon-on="icon icon-home" ng-click="stateGo('tab.home','home')">
    <ion-nav-view name="tab_home" nav-title="首页" nav-direction="forward"></ion-nav-view>
  </ion-tab>

  <!-- 信用 -->
  <ion-tab title="信用" class="tab-item-positive" icon-off="icon icon-credit" icon-on="icon icon-credit" ng-click="stateGo('tab.credit','credit')">
    <ion-nav-view name="tab_credit"></ion-nav-view>
  </ion-tab>

    <!-- 消息 -->
    <ion-tab title="消息" class="tab-item-positive" icon-off="icon icon-message" icon-on="icon icon-message"ng-click="stateGo('tab.message','message')">
        <ion-nav-view name="tab_message"></ion-nav-view>
    </ion-tab>

  <!-- 我的 -->
  <ion-tab title="我的" class="tab-item-positive" icon-off="icon icon-me" icon-on="icon icon-me" ng-click="stateGo('tab.me','me')">
    <ion-nav-view name="tab_me" nav-direction="forward"></ion-nav-view>
  </ion-tab>

</ion-tabs>
